<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_PartialReindex>
            <version>0.0.0.1</version>
        </MageProfis_PartialReindex>
    </modules>
    <global>
        <models>
            <mpindexer>
                <class>MageProfis_PartialReindex_Model</class>
            </mpindexer>
        </models>

        <helpers>
            <mpindexer>
                <class>MageProfis_PartialReindex_Helper</class>
            </mpindexer>
        </helpers>
        <events>
            <catalog_product_save_before> 
                <observers>
                    <mpindexer>
                        <type>singleton</type>
                        <class>mpindexer/observer</class>
                        <method>beforeProductSave</method>
                    </mpindexer>
                </observers>
            </catalog_product_save_before>
            <controller_action_predispatch_adminhtml_catalog_product_massStatus> 
                <observers>
                    <mpindexer>
                        <type>singleton</type>
                        <class>mpindexer/observer</class>
                        <method>preDispatchCatalogProductMassStatus</method>
                    </mpindexer>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_massStatus>
            <controller_action_predispatch_adminhtml_catalog_product_action_attribute_validate> 
                <observers>
                    <mpindexer>
                        <type>singleton</type>
                        <class>mpindexer/observer</class>
                        <method>preDispatchCatalogProductActionAttributeValidate</method>
                    </mpindexer>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_action_attribute_validate>
        </events>
    </global>

    <crontab>
        <jobs>
            <mp_indexer>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mpindexer/indexer::reindexProducts</model>
                </run>
            </mp_indexer>
            <mp_indexer_link>
                <schedule>
                    <cron_expr>5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mpindexer/indexer::reindexEveryHour</model>
                </run>
            </mp_indexer_link>
        </jobs>
    </crontab>
</config>
